{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "askme.fullname" . }}
  namespace: {{ .Values.client.namespace }}
  labels:
    {{- include "askme.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.client.domain }}
      secretName: {{ include "askme.fullname" . }}-tls
  {{- end }}
  rules:
    - host: {{ .Values.client.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "askme.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}