apiVersion: v1
kind: Namespace
metadata:
  name: askme-{{ .Values.client.name }}
  labels:
    {{- include "askme.labels" . | nindent 4 }}
    askme.avanteam.com/client: {{ .Values.client.name }}
  annotations:
    askme.avanteam.com/domain: {{ .Values.client.domain }}
    askme.avanteam.com/deployed-at: {{ now | date "2006-01-02T15:04:05Z07:00" }}