apiVersion: v1
kind: Service
metadata:
  name: {{ include "askme.fullname" . }}
  namespace: askme-{{ .Values.client.name }}
  labels:
    {{- include "askme.labels" . | nindent 4 }}
    askme.avanteam.com/client-name: {{ .Values.client.name | quote }}
  annotations:
    askme.avanteam.com/display-name: {{ .Values.client.name | quote }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "askme.selectorLabels" . | nindent 4 }}